.pattern{
    background-image: url(../img/pattern.png);
    background-color: #4EA0FF;
    height: 90px;
    background-size: 25%;
    
}

#logo{
    width: 50x;
    height: 50px;
}

nav{
    color: #808080;
}

#date{
    font-size: 10px;
}